<p> Game </p>
<table>
<tbody>
<tr>
	<td><div id = "1"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "1" }, :remote => true %></div></td>
	<td><div id = "2"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "2" }, :remote => true %></div></td>
	<td><div id = "3"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "3" }, :remote => true %></div></td>
</tr>
<tr>
	<td><div id = "4"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "4" }, :remote => true %></div></td>
	<td><div id = "5"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "5" }, :remote => true %></div></td>
	<td><div id = "6"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "6" }, :remote => true %></div></td>
</tr>
<tr>
	<td><div id = "7"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "7" }, :remote => true %></div></td>
	<td><div id = "8"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "8" }, :remote => true %></div></td>
	<td><div id = "9"><%= link_to "Play", { :controller => 'games', :action=>"move", :data=> "9" }, :remote => true %></div></td>
</tr>
</tbody>
</table>